#add for board init.rc for recovery mode
on post-fs


service gnss_download /system/bin/gnss_download
    class cali
    user system
    group system
    oneshot

on factorytest

on init
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    setprop sys.usb.config adb,vser,gser
    # Create mount-point for ConfigFS USB gadgets
    # Add standard gadget entries
    mount configfs none /config
    mkdir /config/usb_gadget/g1 0770 shell shell
    write /config/usb_gadget/g1/idVendor 0x1782
    write /config/usb_gadget/g1/idProduct 0x4d00
    mkdir /config/usb_gadget/g1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/strings/0x409/serialnumber $ro.serialno
    write /config/usb_gadget/g1/strings/0x409/manufacturer Spreadtrum
    write /config/usb_gadget/g1/strings/0x409/product Spreadtrum Phone
    mkdir /config/usb_gadget/g1/configs/b.1 0770 shell shell
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "Conf 1"
    write /config/usb_gadget/g1/configs/b.1/MaxPower 120

    # Create adb+ffs gadget function
    mkdir /config/usb_gadget/g1/functions/ffs.adb 0770 shell shell
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

    # Create MTP and PTP functions
    mkdir /config/usb_gadget/g1/functions/mtp.gs0 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/ptp.gs1 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/rndis.gs4 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/vser.gs7 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/accessory.gs2 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/audio_source.gs3 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/midi.gs5 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/gser.gs0 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/gser.gs1 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/gser.gs2 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/gser.gs3 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/gser.gs4 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/gser.gs5 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/gser.gs6 0770 shell shell
    mkdir /config/usb_gadget/g1/functions/gser.gs7 0770 shell shell

    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "vser"
    rm /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/vser.gs7 /config/usb_gadget/g1/configs/b.1/f1

    write /config/usb_gadget/g1/idVendor 0x1782
    write /config/usb_gadget/g1/idProduct 0x5d06
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb_vser_gser"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    rm /config/usb_gadget/g1/configs/b.1/f10
    rm /config/usb_gadget/g1/configs/b.1/f11

    symlink /config/usb_gadget/g1/functions/ffs.adb  /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/vser.gs7 /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/gser.gs0 /config/usb_gadget/g1/configs/b.1/f3

    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    start adbd

on boot
    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

    setprop sys.usb.configfs 1
    setprop sys.usb.controller musb-hdrc.0.auto

on property:ro.debuggable=1
    write /sys/module/smsg/parameters/debug_enable 1
    start adbd

on cali
    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 660 /data/gnss/supl/supl.xml
    chmod 660 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt
on factorytest
    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 660 /data/gnss/supl/supl.xml
    chmod 660 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt
